@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://v1.fontapi.ir/css/SFProDisplay");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,612,200;0,612,300;0,612,400;0,612,500;0,612,600;0,612,700;0,612,800;0,612,900;0,612,1000;1,612,200;1,612,300;1,612,400;1,612,500;1,612,600;1,612,700;1,612,800;1,612,900;1,612,1000&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.custom-pageflip-container {
  width: 100%;
  /* Adjust to your desired width */
  height: 100%;
  /* Adjust to your desired height */
}

.custom-pageflip {
  width: 100%;
  height: 100%;
}
.process_bg {
  background-image: url("/images/LandingPage/processflow-bg.png");
  padding: 1%;
  background-repeat: no-repeat;
  background-size: cover;
}
.start_bg {
  background-image: url("/images/LandingPage/start1.png");
  padding: 1%;
  background-repeat: no-repeat;
}
.publisher_bg {
  background-image: url("/images/publisher-bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.whysubscribe {
  background-image: url("/images/whysubscribe.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mySwiper {
  position: absolute;
}

@media (min-width: 1024px) {
  .hero_bg {
    background-image: url("/images/LandingPage/hero-bg-1.png");
    background-repeat: no-repeat;
    display: block;
  }
}

@media (max-width: 1024px) {
  .hero_bg {
    background-image: url("/images/LandingPage/hero-bg.png");
    background-repeat: no-repeat;
  }

  .read_book_bg {
    background-image: url("/images/LandingPage/hero-bg-1.png");
    background-repeat: no-repeat;
  }
  .trending_curve {
    background-image: url("/images/LandingPage/Trending curve.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer_bg {
    background-image: url("/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 2000px) {
  .footer_bg {
    background-image: url("/images/LandingPage/footer-bg.png");
    /* background-color: #015464; */
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center;
  }
}
.footer_bg {
  /* background-image: url("/public/images/LandingPage/footer-bg.png"); */
  /* background-color: #015464; */
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
}

.read_book_bg {
  background-image: url("/images/LandingPage/hero-bg-1.png");
  background-repeat: no-repeat;
}
.trending_curve {
  background-image: url("/images/LandingPage/Trending curve.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.readbook {
  background-image: url("/images/Flipbook/readbook.png");
  background-repeat: no-repeat;
}

/* Change slider thumb color to white */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* For IE and Edge */
input[type="range"]::-ms-thumb {
  width: 14px;
  height: 14px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik/GraphikRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@612,700&display=swap");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "GraphikBold";
  src: url("/fonts/Graphik/GraphikBold.otf");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "GraphikItalic";
  src: url("/fonts/Graphik/GraphikRegularItalic.otf");
  font-weight: italic;
  font-style: italic;
}

.swiper-button-prev {
  background-repeat: no-repeat;
  width: 54px !important;
  height: 54px !important;
  top: 300px !important;
  left: -20px !important;
  align-items: start;
}

.swiper-button-next {
  background-repeat: no-repeat;
  width: 54px !important;
  height: 54px !important;
  top: 300px !important;
  right: -20px !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-button-prev {
    left: -20px !important;
    top: 370px !important;
    align-items: start;
  }

  .swiper-button-next {
    right: -20px !important;
    top: 370px !important;
    align-items: end;
  }

  /* body {
        margin: 50%;
    } */
}

.swiper-pagination-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.swiper-pagination-custom .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #888;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  opacity: 1;
}
.zoom_out {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper {
  position: relative;
  z-index: 99999;
}

.no-arrows {
  appearance: none;
  appearance: textfield;
}

.border-primary{
  border-color: #7cc9b5;
}
.bg-primary{
  background-color: #1a5f5f;
}
.bg-secondry{
  background-color: #7cc9b5;
}

.text-color-primary{
  color: #1a5f5f;
}

.bg-primary:hover ,.bg-secondry:hover{
  background-color: #1f2937 !important;
  color: white  !important;
}

.mobile-catrgory-popup {
  margin: 10px;
  width: calc(100% - 20px);
}
body{
  overflow-x: hidden;
}

body p {
/*   text-align: justify !important; */
}


.swiper-navigation-buttons .slider-disabled,
.swiper-navigation-buttons-1 .slider-disabled{
  display: none;
}
.swiper-navigation-buttons .slider-active,
.swiper-navigation-buttons-1 .slider-active{
  display: block;
}
.swiper-navigation-buttons > .swiper-button-disabled > .slider-disabled,
.swiper-navigation-buttons-1 > .swiper-button-disabled > .slider-disabled{
  display: block;
}
.swiper-navigation-buttons > .swiper-button-disabled > .slider-active,
.swiper-navigation-buttons-1 > .swiper-button-disabled > .slider-active{
  display: none;
}


input:focus-visible {
  outline: 2px solid #1a5f5f;
  border-radius: 3px;
}

textarea{
  background: #f9fafb;
}

textarea:focus-visible {
  outline: 2px solid #1a5f5f;
  border-radius: 3px;
}


.text-large-semi h2{
  color: #1a5f5f  
}
button:focus-visible {
  outline:none;
}

button{
  color: #1a5f5f  
}


#book-shelf-products-list #book-shelf{
  display: none !important;
}
#book-shelf-products-list #remove-book-shelf{
  display: block !important;
}
/* Checkout page css */

.checkout_address input , .checkout_address select {
  font-weight: 500;
}
.card-list-item-actions > button > img{
  width: 3rem;
}

.swiper.swiper-initialized{
  overflow-x: clip !important;
}
select.dropdown-icon{
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23015464'%3E%3Cpath d='M24 24H0V0h24v24z' fill='rgb(238, 242, 246)' opacity='1'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

